$blue: #03A9F4;

body {
    background-color: #F9F9F9;
}

.header {
    background-color: $blue;
    color: #ffffff;

    .container {
        background-color: transparent;
    }
}

a {
    color: #0277BB;
}

.definition {
    h4 {
        background-color: #058272;
        color: #fff;
    }
}

.key-term {
    font-weight: 700;
}